<div class="form">
<h1>Add Task</h1>
<%= form_for :task, url: tasks_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :time%><br>
    <%= f.number_field :time %>
  </p>

  <p>
    <%= f.label :freq %><br>
    <%= f.number_field :freq, :step => 0.01 %>
  </p>

  <p>
    <%= f.submit %>
  </p>
  <% end %>
</div>
